@import url('https://fonts.googleapis.com/css?family=Roboto');

@font-face {
    font-family: GoT;
    src: url(/fonts/got.ttf);
  }

body{
    margin:0;
    font-size: 16px;
  }
  
  div{
    position:relative;
    box-sizing:border-box;
    padding: 20px;
  }

  h2 {
      text-align: center;
      color: #fff;
      font-family: GoT;
      font-size: 1em;
  }
  .container{
    width:100%;
    min-height: 100vh;
    padding:0;
  }
  
  .container:after{
    content: '';
    clear: both;
    display: table;
  }
  
  .container>div{
    float: left;
    height: auto;
  }
  
  .character-list{
    width: 100%;
    background-image: url("/assets/site/mapblue.jpg");
    background-position-x: -500px;
    background-position-y: -500px;
    overflow: auto;
  }

  .character-item {
    display: inline;
    text-align: center;
    font-size: 2.5em;
}

  .character-item img {
    display: block;
    width: 33.33%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }

  .character-item p{
    font-family: GoT;
    color: rgb(116,85,75);
    font-size: 0.5em;
}

  .one-character{
    width: 100%;
    background: #585858;
  }
  
  .searchbar{
    position: relative;
    text-align: center;
  }
  
  #search-text,
  #search-button {
    line-height: 16px;
    padding: 5px 10px;
    border-radius: 1px;
    border: 1px solid #fff;
  }
  
  #search-text {
    width:150px;
    padding: 5px 10px 5px 20px;
  }
  
  #search-button{
    font-weight: bold;
    color: #fff;
    background-color: #585858;
  }
  
  #search-button:hover{
    cursor: pointer;
  }
  
  @media(min-width:1200px){
    .character-list{
      width: 80%;
      padding:0;
    }

    .list-div {
        padding:10px;
    }
  
    .one-character{
      width: 20%;
    }

    .one-character .list-div img{
      width: 100%;
    }

    .one-character .list-div .list-div img{
      width: unset;
    }
  
    .container>div{
      height: 100vh;
    }
    
    .searchbar{
      position: absolute;
      bottom: 20px;
      left: 20px;
      padding: 0;
      width: 90%;
    }

    .character-item {
      display: inline-block;
      padding: 0;
      width: 12.5%;
      text-align: center;
      margin: 1.9% 0;
      font-size:1em;
    }

    .character-item p:hover {
      font-weight: bold;
      cursor: pointer;
    }

    .character-item img {
      display: inline-block;
      width: 40%;
      margin-left: auto;
      margin-right: auto;
    }

    .character-item p {
       margin: 0;
       font-family: GoT;
       text-align: center;
    }

    #search-text {
      float: right;
      width: 60%;
      padding:5px 10px 5px 20px;
     }

    .one-character .list-div {
      padding:0;
      color: #fff;
      font-family: Roboto;
      text-align: left;
    }
  } 